*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    box-sizing: border-box;
}
/* ------- index ------------- */

#hero h1{
    font-size: 2rem;
    text-align: center;
}

#hero img{
    margin-top: 2rem;
    width: 500px;
    height: auto;
}

#StartSetting{
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1.5rem;

}

select{
    margin-left: 1rem;
    font-size: 1rem;
    padding: 0.2rem;
}

#gameStarter{
    margin-left: 1rem;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
}

/* ------- events ------------- */

#events{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;

}

#night{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    color: white;
}

#murder{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
}

#banish{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkgreen;
    color: white;

}

#fBanish{
    width: 100%;
    height: 5rem;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkred;
    color: white;
}

/* ------- end page ------------- */

#choice{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;

}

a{
    text-decoration: none;
}

#newTurn{
    width: 100%;
    height: 5rem;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkblue;
    color: white;
    
}

#endGame{
    width: 100%;
        height: 5rem;
        grid-column: 1/4;
        display: flex;
        justify-content: center;
        align-items: center;
        background: darkred;
        color: white;
}